<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.seu.koo.mapper.BillMapper">
  <!-- 查询账单对象,返回Bill对象 -->
  <select id="queryBillByNumber" 
    parameterType="com.seu.koo.po.Bill" 
    flushCache="true" 
  	resultType="com.seu.koo.po.Bill">
    select 
    	bill_number bill_number,
    	list list,
    	price price,
    	time time
    from bill 
    where bill_number = #{bill_number} 
  </select>
  <!-- 查询账单对象,返回Lish<Bill>对象 -->
  <select id="queryBillList" 
    parameterType="com.seu.koo.po.Bill" 
    flushCache="true" 
  	resultType="com.seu.koo.po.Bill">
    select 
    	bill_number bill_number,
    	list list,
    	price price,
    	time time
    from bill
  </select>
  <!-- 插入账单对象(insert) -->
  <insert id="insertBill" 
  	parameterType="com.seu.koo.po.Bill"
  	useGeneratedKeys="false">
  	insert into bill (list,price,time) 
  	values(#{list},#{price},#{time})
  </insert>
  
  <!-- 更新账单对象(update) -->
  <update id="updateBill"
        parameterType="com.seu.koo.po.Bill"
       flushCache="true">
  	update bill set list=#{list},price=#{price},time=#{time}
  	where bill_number=#{bill_number}
  </update>
  
 <!--  删除账单对象(delete) -->
  <delete id="deleteBillByNumber"
        parameterType="int"
       flushCache="true">
  	delete from bill where bill_number=#{bill_number}
  </delete>
    
</mapper>